<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #161E21 !important;">
    <div class="container-fluid">
        <a class="navbar-brand text-warning" href="/">KryptoPigula</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-success" aria-current="page" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1VW6q61QYtgaquYm9QEpMsz">Analiza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1Xo89X8lC-i3aV6b__cU8d2">GamePark</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1WfSCSnVBJCC1kI6EXBZ983">Poradniki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1VtqiJBEJ9_vgUEBeG13VbH">Wywiady / podcasty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1VGmBTmgm-ZBTeGNzLQCmSW">Ekosystemy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1XDyEfznWiXQWPY7SfXgWD4">Technologia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href="#">Sklep [Wkrótce]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="sub-header">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link-1" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1WgCi_oheMOqqFU2ptibvGb">KryptoJurek</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-1" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1XSh7kMrPzQd--rU6T20E1f">Komentery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-1" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1WZfmT9DCDFhXdHSiVOLswi">Psychologia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-1" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1V0SxhJzrjjAyjHgUrxe9Zv">Najwięksi tego świata</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-1" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1UGhrKneUp2DToE3GQXx17h">Filmy dokumentalne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-1" href="https://www.youtube.com/playlist?list=PLIZj3G4WuI1V-YcGmdtW2qB61x3zXuy6r">Szukamy perełek</a>
            </li>
        </ul>
    </div>
</section>
